.container-fluid {    
    font-size: 28px;
    font-family: 'Merienda', cursive;
    margin:auto;
    justify-content: space-around;   
    text-align: center;
    color: white; 
    height: 80%;
    
   
}

.row {
  justify-content: space-around;
}

#photome {
    border: 1px solid;
    border-radius: 200px;
    height: 354px;   
    width: null;      
    margin: 11px; 
    margin-top: 60px;
    margin-left: 20px;
}
.about{
  margin-top: 50px;
}
.about > h1{
  font-size: 60px; 
}

.textMe {
  background-color:  rgba(252, 246, 247, 0.8);
  margin-top: 40px;
 color:rgb(19, 7, 63);
 padding: 15px;
 border-radius: 25px;

}

strong {
  font-size: 18px;
}

.about { 
  margin-bottom: 80px; 
}