.hero {   
    font-size: 20px; 
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

#fname {
    width: 380px;
    height: 50px;
    margin: 15px
}

#mailid {
    width: 380px; 
    height: 50px;
    margin: 15px
}

#msg {
    width: 380px; 
    height: 120px;
    margin: 15px;
    justify-content: start;
}

.row {
    justify-content: space-around;
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}
svg{
    color: white
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center;
}

#icon {
position: relative;
justify-content:space-around;
margin: 10px;
width: 50px; 
height: 50px;
}



