







.lead  {
    font-family: 'Merienda', cursive; 
    font-size: 20px;
    color: rgb(151, 98, 107);

}

.title-box-2 > h4, h5 {
    font-family: 'Merienda', cursive; 
    font-size: 20px;
    color: rgb(151, 98, 107);  
} 

/**********************************/

.container-custom {
    padding-top: 1vh;
    justify-content: center;
    line-height: 200px;
}
.heading {
    font-size: 70px;
    /* padding-top: 2vh; */
    padding-bottom: 25px;
    color: white;
    font-family: 'Merienda', cursive;
}
.contact {
    /* background-color:  rgba(44, 146, 241, 0.8); */
    text-align: center;
    max-width: 100%;    
    margin-right: auto;
    margin-bottom: 100px;
    padding-top: 70px;
}

.contact p {
    color:rgb(19, 7, 63);
    padding-right: 35px;
    padding-left: 35px;
    font-size: 3vh;    
    font-family: 'Merienda', cursive;
}

.buttonz {
    padding-right: 35px;
}
.buttonz > a {
    border: 2px solid;
    margin: 10px;
    padding-right: 6px;    
    font-family: 'Merienda', cursive;
    margin-top: 8px;
}
span {
    margin: 5px
}
.contact a {
    color: rgb(19, 7, 63);
}
.button-white:hover {
    background-color: rgb(253, 253, 253, .3);
}

.blueBack {
    background-color:  rgba(252, 246, 247, 0.7);
    border-radius: 25px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 50px;
    color: rgb(19, 7, 63)
    
}



.home-section-inner {
    padding: 20px;
}
/* @media (max-width: 900px) {
    .contact {
        background-color: rgb(90, 93, 95); */
        /* background-image: url("https://d3e1m60ptf1oym.cloudfront.net/1877c674-d86d-41cd-a8d7-0d6948c0da4c/DSC8215-Charlotte-Skyline-Black-White-Image_xgaplus.jpg"); */
        /* background-size: cover;
        height: 100vh;
        text-align: center;
        width: 100%;
        height: 100%;
        padding-bottom: 40px;
        margin-left: 0;
        margin-right: 0;
        
    }
    .contact p {
        font-size: 30px;
        padding-right: 0
    }

    .buttonz {
        padding-right: 0
    }

    .container-custom {
        height: 100vh;
    }
    }

    @media (min-width: 1700px) {

        .heading {
            font-size: 15vh;
        } 
    } */



