/* :root{
     background-image: url(../../assets/port.jpg); 
    
} */

.intro-content{
    display: flex;
    margin: auto;
 
  font-size: 60px;
  color: rgb(151, 98, 107);  
    font-family: 'Merienda', cursive;
    margin:auto;
    justify-content: space-around;   
    text-align: center;

}

.container h1 {
    font-size: 60px;
    font-family: 'Merienda', cursive; 
    vertical-align: middle;
    line-height: 3;
    display: inline-block;
    color: rgb(151, 98, 107);
    
  
}

.img-fluid {   
    border: 1px solid;
    border-radius: 60px;
    height: fit-content;   
    width: null;
    margin: 11px
}

.Header {
line-height: 1.5;
display: inline-block;
vertical-align: middle;
margin: auto;
position: absolute;
top: 20%;
left: 40%;
transform: translate(-50%, -50%);
}

.intro-subtitle{
margin-bottom: 80px;
}