/* :root{
     background-image: url(../../assets/port.jpg); 
    
} */
/* #home {
    background-image: url(../../assets/CharlotteNC.jpeg);
    background-size: cover;
    min-height: 100vh;
    background-position: fixed;
    overflow-x: hidden
} */
.intro-content{
    display: flex;
    margin: auto;
 
  font-size: 60px;
  color: white;  
    font-family: 'Merienda', cursive;
    margin:auto;
    justify-content: space-around;   
    text-align: center;

}

.container h1 {
    font-size: 60px;
    font-family: 'Merienda', cursive; 
    vertical-align: middle;
    display: inline-block;
    color: rgb(4, 221, 250);
    margin-top: 60px;
    font-size: 80px;
    
    
  
}

.port {   
    border: 1px solid;
    border-radius: 200px;
    height: 330px;   
    width: null;      
    margin: 11px; 
    margin-top: 60px;
    margin-left: 20px;
}

.Header {

display: inline-block;
vertical-align: middle;
margin: auto;
position: absolute;
top: 20%;
left: 40%;
}

.intro-subtitle{
margin-bottom: 80px;
}

.container {
    justify-content: space-between;
    padding-top: 100px;
}

.text-slider {
    font-size: 50px;
    color: rgb(4, 221, 250);
}
