.cards:hover {
    transform: scale(1.1);
}
.cards {
    background-color: rgb(26, 8, 90);
    justify-content: space-around;
    align-content: center;
    align-items: center;  
    text-align: center; 
    margin: 20px;
    transform: translateZ(-40px);
    z-index: 1;
    margin: 40px;
    transition: all .2s ease-in-out; 
    transition: 0.2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: inset 5px 5px 10px #000000, 
    inset -5px -5px 10px rgb(104, 66, 89);
    border: solid 1px rgb(104, 66, 89);
    border-radius: 6px;
}

.card-body{
    background-color: rgb(19, 7, 63);
}
.cardImages {
    padding-top: 10px;
    
}
.cardImages > a {
color: rgb(151, 98, 107);
justify-content: center;
    align-items: center;  
    text-align: center;  
    background-color: white;
    border: 1px solid white 
}

.cardImages > a:hover {
    color: white;
    background-color: black;
    border: 1px solid white 
}


.card-tech {
    font-size: small;
}

.card-title {
    color: white;
}

/* .card-img a {
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center;   

} */

.btn {
    margin: 8px;
    width: fit-content;
    align-content: center;
    align-items: center;  
    text-align: center;  
   
}

/* img{
    background-image: url(../../assets/library.jpg);
} */